// Global Tokens
$-orange-100: #f0cac1;
$-orange-500: #fe554a; // colore brillante,
$-orange-400: #f9881f; // arancione vivo
$-orange-300: #ff774c; // arancione chiaro
$-teal-200: #a9e88b;
$-teal-500: #3ec032;
$-teal-800: #08735f; // verde petrolio scuro
$-gray-900: #2a3037; // grigio antracite
$-gray-800: #3d3d3d;
$-gray-500: #aaacae;
$-gray-400: #c6c9cc; // grigio chiaro
$-gray-300: #dfe2e5; // grigio molto chiaro
$-gray-200: #f0f0f0; // grigio quasi bianco
$-gray-100: #f7f7fb; // grigio chiarissimo tendente al bianco

// Generate custom properties from globals tokens
$colors: (
  neutral: (
    100: $-gray-100,
    200: $-gray-200,
    300: $-gray-300,
    400: $-gray-400,
    500: $-gray-500,
    800: $-gray-800,
    900: $-gray-900,
  ),
  primary: (
    100: $-orange-100,
    300: $-orange-300,
    400: $-orange-400,
    500: $-orange-500,
  ),
  accent: (
    200: $-teal-200,
    500: $-teal-500,
    800: $-teal-800,
  ),
);

// Contextual Tokens 1
// Contextual Tokens corretti
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-300: var(--neutral-300);
$color-neutral-400: var(--neutral-400);
$color-neutral-500: var(--neutral-500);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);

$color-primary-100: var(--primary-100);
$color-primary-300: var(--primary-300);
$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);

$color-accent-800: var(--accent-800);
$color-accent-500: var(--accent-500);
$color-accent-200: var(--accent-200);

$gradient-primary: linear-gradient(
  to right,
  var(--primary-300),
  var(--primary-400)
);
