// Global Tokens - Private members
$-ff-sans: "Poppins", sans-serif;
$-ff-serif: "DM Sans", serif;
// Contextual Tokens
$font-family-base: $-ff-sans;
$font-family-accent: $-ff-serif;

//prettier-ignore
$font-sizes: (
  "small": (
    "800": 1.5rem,       // 24px
    "700": 1rem,         // 16px
    "600": 0.875rem,     // 14px
    "500": 0.75rem,      // 12px
  ),
);

$font-size-500: var(--fs-500);
$font-size-600: var(--fs-600);
$font-size-700: var(--fs-700);
$font-size-800: var(--fs-800);

$-fw-400: 400;
$-fw-700: 700;

$font-weight-default: $-fw-400;
$font-weight-bold: $-fw-700;
