@use "../abstracts/" as *;

.header {
  padding-block: $header-block-padding;
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  text-transform: $header-text-transform;
  letter-spacing: $header-letter-spacing;
  background-color: $header-background-color;
  color: $header-color;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigation {
  }

  &__central {
  }

  &__right {
  }
}
